/* membuat bodyberwarna abu-abu dan fontnya bertipe arial dan san serif ukuran 16px  */
body {
    background-color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
}

/* membuat canvas putih ditengah */
.container {
    background-color: white;
    margin : 0 auto;
    width: 800px;
}

/* mengatur jarak dalam header  */
h1 {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

/* mengatur judul */
.header.judul {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 5px;
}

/* untuk navigasi atau menu atas */

.nav {
    padding: 0px;
}
.nav li {
    /* membuat list navigasi menjadi horizontal dan mengatur jarak antar menu  */
    display: inline-block;
    margin-right: 10px;
    margin-top: 20px;
}

/* mengatur link navigasi  */
.nav li a {
    text-decoration: none;
    color: navy;
    
}

/* membuat animasi saat link di sorot */
.nav li a:hover {
    background-color: red;
    color: white;
    transition: 0.5s;
}

/* untuk css banner */
.banner {
    height: 300px;
    /* background-color: skyblue; */
    /* berikan file gambar */
    background-image: url('../img/banner.jpg1.webp');
    /* atur ukuran gambar */
    background-size: cover;
    /* mengatur posisi gambar horizontal dan vertikal */ 
    background-position: 0px - 150px;
    /* mengatur garis tepi tebal jenis warna */
    border-top: 5px solid pink;
    border-bottom: 5px solid skyblue;
}

/* untuk isi */
.isi {
    padding: 20px;
}
.isi h2 {
    font-size: 30px;
    font-weight: bold;
}

.isi .penulis {
    font-size: 14px;
    /* agar agak naik */
    margin-top: -10px;
}

.isi penulis a{
    text-decoration: none;
    color: skyblue;
}

.isi p {
   font-size: 16px;
   margin-top: 10px;
}

/* untuk footer */
.footer {
    background-color: skyblue;
    padding: 20px;
    text-align: center;
    border-top: 5px solid skyblue;
}
