/* untuk h1 warna merah dan ukuran font 30px */
h1 {
    color :red;
    font-size: 30px
}

/* untuk p warna merah dan ukuran font 10px */
p {
    color:green;
    font-size: 10;
}

/* untuk h2 ukuran font 20px */
h2{
    color: skyblue;
    font-size: 20;
}